@use "./_reset.scss";
:root {
  --container-max: 1200px;
  --container-pad: clamp(12px, 2.5vw, 24px);
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}


.container {
  width: 100%;
  max-width: var(--container-max);
  margin-inline: auto;
  padding-inline: var(--container-pad);
}